<ion-header>
  <ion-toolbar class="toolbar" color="primary">


      <ion-button (click)="back()" slot="start">
          <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Car acceptance</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div *ngFor="let car of Cars; let i=index;">    
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src='https://firebasestorage.googleapis.com/v0/b/cars-ad60a.appspot.com/o/cars%2F{{car.id}}1?alt=media' alt="">
              </ion-thumbnail>

              <ion-label>
                <h1>{{car.Model}} {{car.Year}}
                   <span style="float: right; color: rgb(26, 244, 6);font-size: 30px;" (click)="presentAlertSold(car)" slot="end"><ion-icon name="send" ></ion-icon></span>
                </h1>
                <div>
                   <span style="float: right; color: rgb(244, 6, 6); font-size: 30px;" (click)="presentAlert(car)" slot="end"><ion-icon name="close-circle" ></ion-icon></span>
                </div>
                <h3>
                  {{car.Price}}BD
                </h3>
                <p>clean inside and outside</p>
                <div>
                  <span style="float:right;">
                  <button id="btn"  (click)="go(car)">detail</button>
                  </span>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  


</ion-content>
