<app-headerpage title="{{'title.Services'|translate}}"></app-headerpage>

<ion-content>
    <ion-card color="secondary" routerLink="/tabs/showrooms" class="cards">
        <ion-card-header>
            <ion-card-title color="light">{{'Showrooms.title'|translate}}</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card color="secondary" routerLink="/tabs/flatcars" class="cards">
        <ion-card-header>
            <ion-card-title color="light">{{'Flatcars.title'|translate}}</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card color="secondary" disabled="true" routerLink="/tabs/showrooms" class="cards">
        <ion-card-header>
            <ion-card-title color="light">{{'RepairShops.title'|translate}}</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card color="secondary" disabled="true" routerLink="/tabs/showrooms" class="cards">
        <ion-card-header>
            <ion-card-title color="light">{{'CarRentalLocations.title'|translate}}</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card color="secondary" disabled="true" routerLink="/tabs/showrooms" class="cards">
        <ion-card-header>
            <ion-card-title color="light">{{'CarAccessories.title'|translate}}</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card color="secondary" disabled="true" routerLink="/tabs/showrooms" class="cards">
        <ion-card-header>
            <ion-card-title color="light">{{'DrivingInstructors.title'|translate}}</ion-card-title>
        </ion-card-header>
    </ion-card>


</ion-content>