<ion-header>
  <ion-toolbar id="header" color="primary" >

      <ion-title style="text-transform: capitalize; text-align:center;" color="light" >     
        Admin Control Panel
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col (click)="goTo('/')" size="6">
        <ion-card     color="primary">
          <ion-icon name="phone-portrait-sharp"></ion-icon>
          <h2>User InterFace</h2>
        </ion-card>
      </ion-col>
      <ion-col (click)="goTo('/add-showroom')" size="6">
        <ion-card   color="primary">
          <ion-icon name="add"></ion-icon>
          <h2>add Showroom</h2>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="6">
        <ion-card     color="primary">
          <ion-icon name="car-sport-sharp"></ion-icon>
          <h2>Cars</h2>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card   color="primary">
          <ion-icon name="add"></ion-icon>
          <h2>add Cars</h2>
        </ion-card>
      </ion-col>
    </ion-row>







    <ion-row>
      <ion-col col-6>
        <ion-card     color="primary">
          <ion-icon name="person"></ion-icon>
          <h2>Profile</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card   padding color="danger">
          <ion-icon name="people"></ion-icon>
          <h2>Group</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card   padding color="danger">
          <ion-icon name="settings"></ion-icon>
          <h2>Settings</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card   padding color="danger">
          <ion-icon name="list"></ion-icon>
          <h2>Tasks</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card   padding color="danger">
          <ion-icon name="add"></ion-icon>
          <h2>Add Task</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
          <ion-card   padding color="danger">
            <ion-icon name="calendar"></ion-icon>
            <h2>Appointment</h2>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
