<app-headerpage title="{{'title.favorite'|translate}}" >

</app-headerpage>
<ion-content>
<div class="container">


  <div *ngFor="let car of Cars; let i=index;">
<div *ngIf="CarsSrv.fav_ID.includes(car.id)">
    <ion-grid class="box">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src='https://firebasestorage.googleapis.com/v0/b/cars-ad60a.appspot.com/o/cars%2F{{car.id}}1?alt=media' alt="">
              </ion-thumbnail>

              <ion-label>
                <h1>{{car.Model}} {{car.Year}}
                  <span style="float: right; color: rgb(244, 6, 6);" slot="end" *ngIf="!car.like"><ion-icon name='heart' (click)="Unlike(car.id)" *ngIf="CarsSrv.fav_ID.includes(car.id)"></ion-icon></span>
                </h1>
                <h3>
                  {{car.Price}}BD
                </h3>
                <p>clean inside and outside</p>
                <div>
                  <span style="float:right;">
                  <button id="btn">detail</button>
                  </span>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </div>
</div>
</ion-content>
