.car-img{
    width: 25%;
    height: 100%;
} 

.car-test{
    margin-left: 10px;
    margin-right: 10px;
    width: 35%;
    height: 100%;
}

.cars{
    height: 20%;
}

.advertisement{

    height: 40px;
}

.container{
    width: 100%;
    ion-thumbnail{
        width: 100px !important;
        height: 100px !important;
        img{
            border-radius: 10px;
        }
    }

    #btn{
        padding: 10px 20px;
        color: #fff;
        background-color: rgb(217, 7, 7)
    }

    .box{
        box-shadow: 10px 5px 5px rgb(150, 130, 130);
    }
}