<app-headerpage title="{{'title.favorite'|translate}}" >

</app-headerpage>
<ion-content>
<div class="container">


  <ion-grid class="box">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src='../assets/img/sonata2016.jpg' alt="">
            </ion-thumbnail>

            <ion-label>
              <h1>Sonata 2016
                 <span style="float: right; color: rgb(244, 6, 6);" slot="end"><ion-icon name='heart'></ion-icon></span>
              </h1>
              <h3>
                3000BD
              </h3>
              <p>clean inside and outside</p>
              <div>
                <span style="float:right;">
                <button id="btn">detail</button>
                </span>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="box">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src='../assets/img/sonata2016.jpg' alt="">
            </ion-thumbnail>

            <ion-label>
              <h1>Sonata 2016
                 <span style="float: right; color: rgb(244, 6, 6);" slot="end"><ion-icon name='heart'></ion-icon></span>
              </h1>
              <h3>
                3000BD
              </h3>
              <p>clean inside and outside</p>
              <div>
                <span style="float:right;">
                <button id="btn">detail</button>
                </span>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="box">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src='../assets/img/sonata2016.jpg' alt="">
            </ion-thumbnail>

            <ion-label>
              <h1>Sonata 2016
                 <span style="float: right; color: rgb(244, 6, 6);" slot="end"><ion-icon name='heart'></ion-icon></span>
              </h1>
              <h3>
                3000BD
              </h3>
              <p>clean inside and outside</p>
              <div>
                <span style="float:right;">
                <button id="btn">detail</button>
                </span>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
