<!-- <ion-header>
    <ion-toolbar>
        <ion-title>Sign in/up</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-card class="ion-no-margin">
        <ion-img src="../../../assets/img/header1.png"></ion-img>

        <ion-segment swipe-gesture="true" class="segment" [(ngModel)]="sign">
            <ion-segment-button style="color: white;" value="signin">
                {{'Sign.signin' | translate}}
            </ion-segment-button>
            <ion-segment-button style="color: white;" value="signup">
                {{'Sign.signup' | translate}}
            </ion-segment-button>
        </ion-segment>




        <div [ngSwitch]="sign">
            <ion-card-content *ngSwitchCase="'signin'">
                <div class="wrapform">
                    <ion-item>
                        <ion-icon name="mail-outline"></ion-icon>
                        <ion-input type="text" name="email" [(ngModel)]="email" required></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
                    </ion-item>
                </div>
                <div class="password_forgot">
                    <ion-button fill="clear">{{'Sign.forgetpass' | translate}}</ion-button>
                </div>
                <div class="sign-btn-wrap">
                    <ion-button shape="round" fill="solid" class="sign-btn">{{'Sign.login' | translate}}</ion-button>
                </div>

                <div class="text-tag">
                    <span>{{'Sign.viasocialmedia' | translate}}</span>
                </div>

                <div class="social-btns">
                    <ion-button fill="clear" class="googlebtn ion-no-padding">
                        <ion-img src="../../../assets/img/google.png"></ion-img>
                    </ion-button>
                </div>
            </ion-card-content>
        </div>
        <div [ngSwitch]="sign">
            <ion-card-content *ngSwitchCase="'signup'">
                <div class="wrapform">
                    <ion-list>
                        <ion-item>
                            <ion-label>{{'Profile.name' | translate}}:</ion-label>
                            <ion-input color="dark" slot="end" [(ngModel)]="user.name" ></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>{{'Profile.username' | translate}}:</ion-label>
                            <ion-input color="dark" slot="end" [(ngModel)]="user.username" ></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>{{'Profile.email' | translate}}:</ion-label>
                            <ion-input color="dark" slot="end" [(ngModel)]="user.email" ></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>{{'Profile.password' | translate}}:</ion-label>
                            <ion-input color="dark" type="password" slot="end"  ></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>{{'Profile.gender' | translate}}:</ion-label>
                            <ion-select slot="end" placeholder="Gender" [(ngModel)]="user.gender" >
                                <ion-select-option value="Male">Male</ion-select-option>
                                <ion-select-option value="Female">Female</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label>{{'Profile.phone' | translate}}:</ion-label>
                            <ion-input color="dark" slot="end" [(ngModel)]="user.phone"></ion-input>
                        </ion-item>
                        <div class="sign-btn-wrap">
                            <ion-button (click)="signup(email,password)" shape="round" fill="solid" class="sign-btn">{{'Sign.signup' | translate}}</ion-button>
                        </div>

                    </ion-list>
                </div>
            </ion-card-content>
        </div>
    </ion-card>
</ion-content>