.car-img{
    width: 25%;
    height: 100%;
} 

.car-test{
    margin-left: 10px;
    margin-right: 10px;
    width: 35%;
    height: 100%;
}

.cars{
    height: 20%;
}

.advertisement{

    height: 40px;
}

.container{
    width: 100%;
    ion-thumbnail{
        width: 100px !important;
        height: 100px !important;
        img{
            border-radius: 10px;
        }
    }

    #btn{
        padding: 10px 20px;
        color: #fff;
        background-color: rgb(217, 7, 7)
    }
}

.loadingcard{
    .load{
        padding: 3px;
        margin: 3px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }
    
    
    .loadtext{
        height: 25px;
        text-align: center;
        display: inline-block;
    }
    .text{
        color: var(--ion-color-dark);;
        height: 10px;
        margin: 5px;
    }
    
    
    .loader {
        display: inline-block;
        border: 3px solid var(--ion-color-dark); /* Light grey */
        border-top: 3px solid var(--ion-color-medium); /* Blue */
        border-radius: 50%;
        width: 25px;
        height: 25px;
        animation: spin 2s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
}
ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
  }
  
  .custom-alert .alert-button-group {
    padding: 8px;
  }
  
  button.alert-button.alert-button-confirm {
    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
  }
  
  .md button.alert-button.alert-button-confirm {
    border-radius: 4px;
  }
  
  .ios .custom-alert button.alert-button {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
  }
  
  .ios button.alert-button.alert-button-cancel {
    border-right: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
  }
  
  .ios button.alert-button.alert-button-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
  }


