.showroomImg {
    max-width: 100px;
    height:100px;
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 0px;
}

.showroomLinks {
    width: 1.8rem;
    height: 1.8rem;
    padding: 2px;
}

.whatsapp {
    color: #25D366;
}

.links {
    width: 25%;
    text-align: center;
}