<app-headerpage title="{{'Showrooms.title'|translate}}"></app-headerpage>
<ion-content>
    <hr>
    <hr>
    <ion-card *ngFor="let showroom of showrooms" color="light">
        <ion-item lines="none"  color="secondary" >
            <img class="showroomImg" src='https://firebasestorage.googleapis.com/v0/b/cars-ad60a.appspot.com/o/showrooms%2F{{showroom.id}}?alt=media' onclick="">
            <h4 class="ion-padding" color="secondary"><b color="secondary" >{{showroom.Name}}</b><br>
                <h5>{{showroom.City}}-{{showroom.Tell}}</h5>
            </h4>
        </ion-item>
        <ion-card-content >
            <ion-item lines="none"  color="light">
                <div class="links"  color="light">
                    <a href="tel:+973{{showroom.Tell}}" target="_blank">
                        <ion-icon class="showroomLinks" style="color: black;" name="call"></ion-icon>
                    </a>
                </div>
                <div class="links">
                    <a href="{{showroom.Location}}" target="_blank">
                        <img class="showroomLinks" src="../assets/icon/loc.png">
                    </a>
                </div>
                <div class="links">
                    <a href="https://www.instagram.com/{{showroom.Insta}}" target="_blank">
                        <img class="showroomLinks"  src="../assets/icon/inst.png">
                    </a>
                </div>
                <div class="links">
                    <a href="https://wa.me/973{{showroom.WhatsApp}}" target="_blank">
                        <ion-icon class="whatsapp showroomLinks" name="logo-whatsapp"></ion-icon>
                    </a>
                </div>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>