<app-headerpage title="{{'title.cars'|translate}}" ></app-headerpage>

<ion-content>


    <ion-item>
        <ion-label>    {{'cars.body' |translate}}        </ion-label>
    </ion-item>

    <div class="container">

      <div *ngFor="let car of cars; let i=index;">

        <ion-card *ngIf="(i)%5==0 && i!=0 && Available_adv" >
          <ion-item>

            
              <img class="advertisement" src='../assets/img/advr.jpg' alt="">
              <img class="advertisement" src='../assets/img/advr.jpg' alt="">
              <img class="advertisement" src='../assets/img/advr.jpg' alt="">
              <img class="advertisement" src='../assets/img/advr.jpg' alt="">
              <img class="advertisement" src='../assets/img/advr.jpg' alt="">

          </ion-item>
        </ion-card>

          <ion-card >

            <ion-item class="cars">

                <div class="car-img">
                  <img src='../assets/img/{{car.img}}' alt="">
                </div>

                <div class="car-test">
                  <ion-label> {{car.name}} {{car.year}} </ion-label>
                  <ion-label> {{car.price}}BD </ion-label>
                </div>

                <div *ngIf="car.like" slot="end">
                  <ion-icon name="heart-outline" (click)="likeCar(i)"></ion-icon>
                </div>
                <div *ngIf="!car.like" slot="end">
                <ion-icon name='heart' (click)="likeCar(i)"></ion-icon>
                </div>
              
            </ion-item>
                    
          </ion-card>
      </div>
    

  </div>

<br><br><br>
  
</ion-content>
