<app-headerpage title="{{'title.cars'|translate}}" >

</app-headerpage>
  <ion-button (click)="display_filter()"> <span *ngIf="!filter">{{'cars.filter' |translate}}</span> <span *ngIf="filter">{{'cars.close' |translate}}</span>  </ion-button>
<ion-content [scrollEvents]="true">


    <ion-card *ngIf="filter">
      <ion-item>
        <ion-label>{{'cars.Select_years_range' |translate}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>{{'cars.from' |translate}}</ion-label>
        <ion-input type="number" [(ngModel)]="first_year" placeholder="2000"></ion-input>
        <ion-label>{{'cars.to' |translate}}</ion-label>
        <ion-input type="number" [(ngModel)]="last_year" placeholder="2023"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>{{'cars.budget' |translate}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>{{'cars.from' |translate}}</ion-label>
        <ion-input type="number" [(ngModel)]="start_budget" placeholder="1000BD"></ion-input>
        <ion-label>{{'cars.to' |translate}}</ion-label>
        <ion-input type="number" [(ngModel)]="end_budget" placeholder="7000BD"></ion-input>
      </ion-item>

      <ion-item>
        <ion-checkbox slot="start" [(ngModel)]="new" (ionChange)="new_Cars()"></ion-checkbox>
        <ion-label>New</ion-label>

        <ion-checkbox  (ionChange)="old_Cars()"></ion-checkbox>
        <ion-label>Used</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>{{'cars.Select_brand' |translate}} </ion-label>

        <ion-list>
          <ion-item>
            <ion-select [(ngModel)]="car_selected_brand"  (ionChange)="viewCars()">
              <ion-select-option *ngFor="let car of cars_info" value= {{car.brand}}>{{car.brand}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        
      </ion-item>

      <br>

    <div *ngIf="display_models">
      <ion-item>
        <ion-label>Select cars:</ion-label>
      </ion-item>
            <div *ngFor="let car of car_models_display">
          <ion-item>
            <ion-checkbox slot="start" value="{{car}}"></ion-checkbox>
            <ion-label>{{car}}</ion-label>
          </ion-item>
          </div>
          <br>
    </div>

    <div align="center">

      <ion-button fill="outline">Filter</ion-button>
      
    </div>
      
    
      
    </ion-card>


    <div class="container">

      <div *ngFor="let car of cars; let i=index;">

        <ion-card *ngIf="(i)%5==0 && i!=0 && Available_adv" (click)="go()">
          <ion-item >

            
              <img class="advertisement" src='../assets/img/advr.jpg' alt="">
              <img class="advertisement" src='../assets/img/advr.jpg' alt="">
              <img class="advertisement" src='../assets/img/advr.jpg' alt="">
              <img class="advertisement" src='../assets/img/advr.jpg' alt="">
              <img class="advertisement" src='../assets/img/advr.jpg' alt="">

          </ion-item>
        </ion-card>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-thumbnail slot="start">
                    <img src='../assets/img/{{car.img}}' alt="">
                  </ion-thumbnail>

                  <ion-label>
                    <h1>{{car.name}} {{car.year}}
                       <span style="float: right; color: rgb(244, 6, 6);" slot="end" *ngIf="car.like"><ion-icon name="heart-outline" (click)="likeCar(i)"></ion-icon></span>
                       <span style="float: right; color: rgb(244, 6, 6);" slot="end" *ngIf="!car.like"><ion-icon name='heart' (click)="likeCar(i)"></ion-icon></span>
                    </h1>
                    <h3>
                      {{car.price}}BD
                    </h3>
                    <p>clean inside and outside</p>
                    <div>
                      <span style="float:right;">
                      <button id="btn">detail</button>
                      </span>
                    </div>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>

          <!-- <ion-card >

            <ion-item class="cars">

                <div class="car-img">
                  <img src='../assets/img/{{car.img}}' alt="">
                </div>

                <div class="car-test">
                  <ion-label> {{car.name}} {{car.year}} </ion-label>
                  <ion-label> {{car.price}}BD </ion-label>
                </div>

                <div *ngIf="car.like" slot="end">
                  <ion-icon color="primary" name="heart-outline" (click)="likeCar(i)"></ion-icon>
                </div>
                <div *ngIf="!car.like" slot="end">
                <ion-icon color="primary" name='heart' (click)="likeCar(i)"></ion-icon>
                </div>
              
            </ion-item>
                    
          </ion-card> -->
      </div>
    

  </div>

<br><br><br>
  
</ion-content>
