<ion-header>
    <ion-toolbar id="header" color="primary" >
      <ion-buttons slot="start" style="position: absolute;" >
        <ion-menu-button  ></ion-menu-button>
        </ion-buttons>
        <ion-title style="text-transform: capitalize; text-align:center;" color="light" >     
            {{'Profile.title'|translate}}        </ion-title>

            <ion-buttons (click)="out()" slot="end" >
                <ion-icon   color="light" style="font-size: 35px;" name="log-out-outline"></ion-icon>
            </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <div style="display: flex; justify-content: center;">
        <ion-icon color="dark" class="profilePic ion-padding" name="person-circle-outline"></ion-icon>
    </div>
    <ion-list *ngFor="let x of profile, let i=index;">
        <ion-item>
            <ion-label>{{'Profile.name' | translate}}:</ion-label>
            <ion-input color="dark" slot="end" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'Profile.username' | translate}}:</ion-label>
            <ion-input color="dark" slot="end" [(ngModel)]="profile[i].username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'Profile.email' | translate}}:</ion-label>
            <ion-input color="dark" slot="end" [(ngModel)]="profile[i].email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'Profile.password' | translate}}:</ion-label>
            <ion-input color="dark" type="password" slot="end" [(ngModel)]="profile[i].password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'Profile.gender' | translate}}:</ion-label>
            <ion-select slot="end" [(ngModel)]="profile[i].gender" placeholder="Gender">
                <ion-select-option value="Male">Male</ion-select-option>
                <ion-select-option value="Female">Female</ion-select-option>
            </ion-select>

        </ion-item>
        <ion-item>
            <ion-label>{{'Profile.phone' | translate}}:</ion-label>
            <ion-input color="dark" slot="end" [(ngModel)]="profile[i].phone"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>