<!-- <app-headerpage title="{{'title.detail'|translate}}" > -->
    <ion-header>
        <ion-toolbar class="toolbar" color="primary">

           
                <ion-button (click)="go()" slot="start"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
            

          <ion-title>{{'title.detail'|translate}}</ion-title>
        </ion-toolbar>
      </ion-header>

    <ion-content>

    <div class="container">
        <div class="pic">

             <ion-slides pager>
                    <ion-slide>
                        <ion-img src='../assets/img/sonata2016.jpg'></ion-img>
                    </ion-slide>
                  
                    <ion-slide>
                        <ion-img src='../assets/img/sonata2016in.jpg'></ion-img>

                    </ion-slide>
                  
                    <ion-slide>
                        <ion-img src='../assets/img/sonata2016bs.jpg'></ion-img>

                    </ion-slide>
                  
                  </ion-slides>
                

            
        </div> 

        <ion-item class="price">
            <ion-label>
                <h1>{{CarsSrv.detail_ID.Price}}BD
                    <span style="float: right; color: rgb(244, 6, 6);" slot="end"><ion-icon name="heart-outline" (click)="likeCar(CarsSrv.detail_ID.id)" *ngIf="!CarsSrv.fav_ID.includes(CarsSrv.detail_ID.id)"></ion-icon></span>
                    <span style="float: right; color: rgb(244, 6, 6);" slot="end"><ion-icon name='heart' (click)="Unlike(CarsSrv.detail_ID.id)" *ngIf="CarsSrv.fav_ID.includes(CarsSrv.detail_ID.id)"></ion-icon></span>                </h1>
                <h2>{{CarsSrv.detail_ID.Model}} {{CarsSrv.detail_ID.Year}}</h2>
                <h3> <ion-icon name="location-outline"></ion-icon> Hamad Town <span style="float: right;">{{CarsSrv.detail_ID.date}}</span> </h3>
            </ion-label>          
        </ion-item>
        <br>
        <div align="center">
            <ion-label>
                <h1>Car details</h1>
            </ion-label>
        </div>

        <ion-item>
            <ion-label>
                <h2>Brand: <span style="float: right;">{{CarsSrv.detail_ID.Brand}}</span></h2>
                <h2>Model: <span style="float: right;">{{CarsSrv.detail_ID.Model}}</span></h2>
                <h2>Year: <span style="float: right;">{{CarsSrv.detail_ID.Year}}</span></h2>
                <h2>Killometers: <span style="float: right;">{{CarsSrv.detail_ID.KM}}</span></h2>
                <h2>State: <span style="float: right;" *ngIf="!CarsSrv.detail_ID.New">Used</span><span style="float: right;" *ngIf="CarsSrv.detail_ID.New">New</span></h2>

                <br>
                <h1>Discription:</h1>
                <h2>{{CarsSrv.detail_ID.Disc}}</h2>
            </ion-label>
        </ion-item>

        <!-- start testing -->
            <ion-item lines="none">
                <ion-label>
                    <h1>seller info:</h1>
                </ion-label>
            </ion-item>

        <ion-card>
            <ion-item lines="none">
                <img style="float: left;" src="../assets/img/Hyundai_logo.jpg" alt="" class="logo">
                <ion-label>
                    <h2>Hyundai</h2>
                    <h3> <ion-icon name="location-outline"></ion-icon> Hamad Town</h3>
                </ion-label>
            </ion-item>

            <ion-grid>
                <ion-row>

                    <ion-col size="3">
                        <img src="../assets/img/tele.png" alt="" class="Social_logos">   
                    </ion-col>

                    <ion-col size="3">
                        <img src="../assets/img/location.jpg" alt="" class="Social_logos">   
                    </ion-col>


                    <ion-col size="3">
                        <img src="../assets/img/Instagram_logo.jpg" alt="" class="Social_logos">   
                    </ion-col>


                    <ion-col size="3">
                        <img src="../assets/img/Whatsapp_logo.jpg" alt="" class="Social_logos">   
                    </ion-col>


                </ion-row>
            </ion-grid>
                    
                          
        </ion-card>
        


        <!-- end testing -->
        <ion-item>
            <ion-label>
                <h1>Related Advs:</h1>
            </ion-label>
        </ion-item>

        
        <div class="scrolling-wrapper">

            <div class="card">
                <img src='../assets/img/Sonata2017.jpg' alt="" class="extPic">
                <ion-item color="rgb(224, 240, 240);" lines="none">
                    <ion-label>
                        <h2> 
                            Sonata 2017
                            <span style="float: right; color: rgb(244, 6, 6);" slot="end"><ion-icon name="heart-outline"></ion-icon></span>                   
                        </h2>

                        <h2>4000BD</h2>
                        <h3>3000 to 5000 km</h3>
                        <p><ion-icon name="person-outline"></ion-icon> Hasan Ali <span style="float: right;">2023/2/1</span></p>
                    </ion-label>
                </ion-item>


            </div>

            <div class="card">
                <img src='../assets/img/Sonata2017.jpg' alt="" class="extPic">
                <ion-item color="rgb(224, 240, 240);" lines="none">
                    <ion-label>
                        <h2> 
                            Sonata 2017
                            <span style="float: right; color: rgb(244, 6, 6);" slot="end"><ion-icon name="heart-outline"></ion-icon></span>                   
                        </h2>

                        <h2>4000BD</h2>
                        <h3>3000 to 5000 km</h3>
                        <p><ion-icon name="person-outline"></ion-icon> Hasan Ali <span style="float: right;">2023/2/1</span></p>
                    </ion-label>
                </ion-item>


            </div>

            <div class="card">
                <img src='../assets/img/Sonata2017.jpg' alt="" class="extPic">
                <ion-item color="rgb(224, 240, 240);" lines="none">
                    <ion-label>
                        <h2> 
                            Sonata 2017
                            <span style="float: right; color: rgb(244, 6, 6);" slot="end"><ion-icon name="heart-outline"></ion-icon></span>                   
                        </h2>

                        <h2>4000BD</h2>
                        <h3>3000 to 5000 km</h3>
                        <p><ion-icon name="person-outline"></ion-icon> Hasan Ali <span style="float: right;">2023/2/1</span></p>
                    </ion-label>
                </ion-item>


            </div>

            <div class="card">
                <img src='../assets/img/Sonata2017.jpg' alt="" class="extPic">
                <ion-item color="rgb(224, 240, 240);" lines="none">
                    <ion-label>
                        <h2> 
                            Sonata 2017
                            <span style="float: right; color: rgb(244, 6, 6);" slot="end"><ion-icon name="heart-outline"></ion-icon></span>                   
                        </h2>

                        <h2>4000BD</h2>
                        <h3>3000 to 5000 km</h3>
                        <p><ion-icon name="person-outline"></ion-icon> Hasan Ali <span style="float: right;">2023/2/1</span></p>
                    </ion-label>
                </ion-item>


            </div>

            <div class="card">
                <img src='../assets/img/Sonata2017.jpg' alt="" class="extPic">
                <ion-item color="rgb(224, 240, 240);" lines="none">
                    <ion-label>
                        <h2> 
                            Sonata 2017
                            <span style="float: right; color: rgb(244, 6, 6);" slot="end"><ion-icon name="heart-outline"></ion-icon></span>                   
                        </h2>

                        <h2>4000BD</h2>
                        <h3>3000 to 5000 km</h3>
                        <p><ion-icon name="person-outline"></ion-icon> Hasan Ali <span style="float: right;">2023/2/1</span></p>
                    </ion-label>
                </ion-item>


            </div>



        </div>

        <div align="center">
            <img src="../assets/img/advr.jpg" alt="" class="adv">
        </div>

    </div>

</ion-content>
