<!-- <app-headerpage title="{{'title.detail'|translate}}" > -->
    <ion-header>
        <ion-toolbar class="toolbar" color="primary">

           
                <ion-button (click)="go()" slot="start"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
            

          <ion-title>{{'title.detail'|translate}}</ion-title>
        </ion-toolbar>
      </ion-header>

    <ion-content>

    <div class="container">
        <div class="pic">

             <ion-slides pager>
                    <ion-slide *ngFor="let x of num_of_img">
                        
                        <ion-img src='https://firebasestorage.googleapis.com/v0/b/cars-ad60a.appspot.com/o/cars%2F{{CarsSrv.detail_ID.id}}{{x}}?alt=media'></ion-img>
                    </ion-slide>
                  
                    <!-- <ion-slide>
                        <ion-img src='../assets/img/sonata2016in.jpg'></ion-img>

                    </ion-slide>
                  
                    <ion-slide>
                        <ion-img src='../assets/img/sonata2016bs.jpg'></ion-img>

                    </ion-slide> -->
                  
                  </ion-slides>
                

            
        </div> 

        <ion-item class="price">
            <ion-label>
                <h1>{{CarsSrv.detail_ID.Price}}BD
                    <span style="float: right; color: rgb(244, 6, 6);" slot="end"><ion-icon name="heart-outline" (click)="likeCar(CarsSrv.detail_ID.id)" *ngIf="!CarsSrv.fav_ID.includes(CarsSrv.detail_ID.id)"></ion-icon></span>
                    <span style="float: right; color: rgb(244, 6, 6);" slot="end"><ion-icon name='heart' (click)="Unlike(CarsSrv.detail_ID.id)" *ngIf="CarsSrv.fav_ID.includes(CarsSrv.detail_ID.id)"></ion-icon></span>                </h1>
                <h2>{{CarsSrv.detail_ID.Model}} {{CarsSrv.detail_ID.Year}}</h2>
                <h3> <ion-icon name="location-outline"></ion-icon> Hamad Town <span style="float: right;">{{CarsSrv.detail_ID.date}}</span> </h3>
            </ion-label>          
        </ion-item>
        <br>
        <div align="center">
            <ion-label>
                <h1>Car details</h1>
            </ion-label>
        </div>

        <ion-item>
            <ion-label>
                <h2>Brand: <span style="float: right;">{{CarsSrv.detail_ID.Brand}}</span></h2>
                <h2>Model: <span style="float: right;">{{CarsSrv.detail_ID.Model}}</span></h2>
                <h2>Year: <span style="float: right;">{{CarsSrv.detail_ID.Year}}</span></h2>
                <h2>Killometers: <span style="float: right;">{{CarsSrv.detail_ID.KM}}</span></h2>
                <h2>State: <span style="float: right;" *ngIf="!CarsSrv.detail_ID.New">Used</span><span style="float: right;" *ngIf="CarsSrv.detail_ID.New">New</span></h2>

                <br>
                <h1>Discription:</h1>
                <h2>{{CarsSrv.detail_ID.Disc}}</h2>
            </ion-label>
        </ion-item>

        <!-- start testing -->
            <ion-item lines="none">
                <ion-label>
                    <h1>seller info:</h1>
                </ion-label>
            </ion-item>

        <ion-card *ngIf="CarsSrv.detail_ID.User_id">
            <ion-item lines="none">
                <div class="links">
                    <a  class="card-phone" href="tel:+973{{CarsSrv.detail_ID.Tell}}" target="_blank">
                        <ion-item >
                            <ion-icon class="showroomLinks" color="dark" name="call"></ion-icon> 
                            <ion-label>+33702322</ion-label>
                        </ion-item>
                    </a>
                </div>
                <div class="links">
                    <a class="card-phone" href="https://wa.me/973{{CarsSrv.detail_ID.WhatsApp}}" target="_blank">
                        <ion-item >
                            <ion-icon class="whatsapp showroomLinks" name="logo-whatsapp"></ion-icon>
                            <ion-label>+33702322</ion-label>
                        </ion-item>

                    </a>
                </div>  
            </ion-item>
        </ion-card>

        <ion-card  color="light" *ngIf="!CarsSrv.detail_ID.User_id" >
            <ion-item lines="none"  color="secondary" >
                <img class="showroomImg" src='https://firebasestorage.googleapis.com/v0/b/cars-ad60a.appspot.com/o/showrooms%2F{{showroom.id}}?alt=media' onclick="">
                <h4 class="ion-padding" color="secondary"><b color="secondary" >{{showroom.Name}}</b><br>
                    <h5>{{showroom.City}}-{{showroom.Tell}}</h5>
                </h4>
            </ion-item>
            <ion-card-content >
                <ion-item lines="none"  color="light">
                    <div class="links"  color="light">
                        <a href="tel:+973{{showroom.Tell}}" target="_blank">
                            <ion-icon class="showroomLinks" style="color: black;" name="call"></ion-icon>
                        </a>
                    </div>
                    <div class="links">
                        <a href="{{showroom.Location}}" target="_blank">
                            <img class="showroomLinks" src="../assets/icon/loc.png">
                        </a>
                    </div>
                    <div class="links">
                        <a href="www.instagram.com/{{showroom.Insta}}" target="_blank">
                            <img class="showroomLinks"  src="../assets/icon/inst.png">
                        </a>
                    </div>
                    <div class="links">
                        <a href="https://wa.me/973{{showroom.WhatsApp}}" target="_blank">
                            <ion-icon class="whatsapp showroomLinks" name="logo-whatsapp"></ion-icon>
                        </a>
                    </div>
                </ion-item>
            </ion-card-content>
        </ion-card>
        <ion-item>
            <ion-label>
                <h1>Related Advs:</h1>
            </ion-label>
        </ion-item>

        
        <div class="scrolling-wrapper">
            
            <div class="card" *ngFor="let car of this.CarsSrv.detail_cars_display">

                <img src='https://firebasestorage.googleapis.com/v0/b/cars-ad60a.appspot.com/o/cars%2F{{car.id}}1?alt=media' alt="" class="extPic">
                <ion-item color="rgb(224, 240, 240);" lines="none">
                    <ion-label>
                        <h2> 
                            {{car.Model}} {{car.Year}}
                        </h2>

                        <h2>{{car.Price}}BD</h2>
                        <h3>{{car.KM}}KM</h3>
                        <p><ion-icon name="person-outline"></ion-icon> Hasan Ali <span style="float: right;">{{car.date}}</span></p>
                    </ion-label>
                </ion-item>

            </div>

        </div>

        <div align="center">
            <img src="../assets/img/advr.jpg" alt="" class="adv">
        </div>

    </div>

</ion-content>
