<ion-header>
  <ion-toolbar class="toolbar" color="primary">

     
          <ion-button (click)="back()"   slot="start"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      

    <ion-title>{{'sidebar.AboutUs'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="container">
  <div>
    <ion-img src="https://files.porsche.com/filestore/image/multimedia/none/pcc-microsite-highlight3/normal/3052a83c-fd93-11ea-80ce-005056bbdc38;sQ;twebp;c1696;gc/porsche-normal.webp"></ion-img>
  </div>
  <div class="card">
  <ion-card>
    <ion-card-content>
      We are a team of three computer science students, <strong>Sayed Ali</strong> ,<strong>Sayed Murtadha</strong>,
      and <strong>Ali Yusuf</strong>, and this application is our senior project. Our goal in creating
      this application was to provide a valuable resource for Bahraini citizens
      who are searching for information about cars. We recognized the need for
      a comprehensive platform that not only allows users to search for cars in
      local showrooms, but also provides access to other car services such as
      car instructors, flat cars, and car accessories. Our hope is that our app 
      will make the process of finding and accessing car-related services in 
      Bahrain easier and more convenient for all users.
    </ion-card-content>
  </ion-card>
</div>
<br>
</div>
  

</ion-content>
