.delete{
    position: absolute;
    top: 5px;
    right: 5px;
}

.pic{

    .img{
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit:  cover;
        max-width:  95vw;
        min-height: 45vh ;
        max-height: 45vh;
    }



    ion-slides{
        max-width: 100vw;
        max-height: 45vh ;
    }

}
