<ion-header>
  <ion-toolbar class="toolbar" color="primary">

     
          <ion-button (click)="back()"   slot="start"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      

    <ion-title>{{'addcars.title'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="container">
    <div class="pic">

         <ion-slides pager >
          </ion-slides>
         <ion-slides pager >
          <ion-slide style="height: 300px;" *ngIf="images.length<4" (click)="img()"><ion-icon style="font-size: 50px;" name="add-outline" color="primary" ></ion-icon></ion-slide>
                <ion-slide *ngFor="let item of images; let i=index"  >
                  <ion-button  class="delete" fill="clear" (click)="delete(i)">
                    <ion-icon slot="icon-only" name="close-circle"></ion-icon>
                  </ion-button>
                 
                  <ion-img [src]="item.path"></ion-img>
                </ion-slide>
          </ion-slides>
              
    </div>

    <form [formGroup]="AddCarForm" (ngSubmit)="Login(AddCarForm.value)">
      
       <!-- <ion-item *ngIf="AddCarForm.controls['username'].hasError('minlength') && AddCarForm.controls['username'].touched">
      <p>Sorry, minimum username length is 8!</p></ion-item> -->
      
         
        <!-- <ion-button [disabled]="!AddCarForm.valid"
         full color="primary" style="margin-top: 20px;" type="submit"> Login
         </ion-button> 
         -->
        

    <ion-item class="price">
        <ion-label>{{'addcars.Price'|translate}}:</ion-label> 
        <ion-input type="number" placeholder="1000BD" formControlName="Price" minlength="8" ></ion-input>
    </ion-item>

    <ion-list >
      <ion-item >
        <ion-label>{{'addcars.Brand'|translate}}:</ion-label> 
        <ion-select     placeholder="Select Brand"  formControlName="Brand" >
          <ion-select-option  value="Toyota">Toyota</ion-select-option>
          <ion-select-option value="Lexus">Lexus</ion-select-option>
          <ion-select-option value="Mazda">Mazda</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list >
      <ion-item >
        <ion-label>{{'addcars.Modle'|translate}}:</ion-label> 
        <ion-select    placeholder="Select Model"  formControlName="Model">
          <ion-select-option  value="apples">Camry</ion-select-option>
          <ion-select-option value="oranges">Mazda 6</ion-select-option>
          <ion-select-option value="bananas">Mazda 3</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label>{{'addcars.Year'|translate}}:</ion-label> 
      <ion-input type="number" placeholder="2020" max="2030" min="1900"  formControlName="Year" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{'addcars.Killometers'|translate}}:</ion-label> 
      <ion-input type="number" placeholder="90000KM"  formControlName="Killometers" ></ion-input>
    </ion-item>

    <ion-list >
      <ion-item >
        <ion-label>{{'addcars.State'|translate}}:</ion-label> 
        <ion-select    placeholder="Select State"  formControlName="State">
          <ion-select-option value="New">{{'addcars.New'|translate}}</ion-select-option>
          <ion-select-option value="Used">{{'addcars.Used'|translate}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label>{{'addcars.Discription'|translate}}</ion-label>
      <ion-textarea placeholder="Type Discription here"  formControlName="Discription"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>{{'addcars.Tell'|translate}}</ion-label>
      <ion-input type="tel" placeholder="Phone number"  formControlName="Tell" minlength="8"></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label>{{'addcars.WhatsApp'|translate}}</ion-label>
      <ion-input type="tel" placeholder="WhatsApp number"  formControlName="WhatsApp"  minlength="8" ></ion-input>
    </ion-item>

    <ion-button color="primary" expand="block" type="sub" >
      {{'addcars.Send'|translate}} <ion-icon name="share-outline"></ion-icon>
    </ion-button>

  </form>


</div>

</ion-content>
