<ion-header>
  <ion-toolbar class="toolbar" color="primary">


      <ion-button (click)="back()" slot="start">
          <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>


      <ion-title>{{'title.detail'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="container">
      <div class="pic">

          <ion-slides pager>
          </ion-slides>
          <ion-slides pager>
              <ion-slide style="height: 300px;" *ngIf="images.length<1" (click)="img()">
                  <ion-icon style="font-size: 50px;" name="add-outline" color="primary"></ion-icon>
              </ion-slide>
              <ion-slide *ngIf="images.length==1" >
                  <ion-button class="delete" fill="clear" (click)="delete()">
                      <ion-icon slot="icon-only" name="close-circle"></ion-icon>
                  </ion-button>

                  <ion-img [src]="images[0].path"></ion-img>
              </ion-slide>
          </ion-slides>

      </div>

   
  </div>

  <ion-button color="primary" expand="block" (click)="send()"   >
    {{'addcars.Send'|translate}} <ion-icon name="share-outline"></ion-icon>
  </ion-button>


  <div *ngIf="car==0" >
    <ion-item>
      <ion-label>Plase add the car image</ion-label>
    </ion-item>
  </div>
  <div *ngIf="car==1" >

    <ion-item>
      <ion-label>Model</ion-label>
      <ion-label>{{model}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Make</ion-label>
      <ion-label>{{make}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Color</ion-label>
      <ion-label>{{color}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Year</ion-label>
      <ion-label>{{year}}</ion-label>
    </ion-item>
  </div>
  <div *ngIf="car==-1" >
    <ion-label>The picture is not clear or does not contain a car</ion-label>

  </div>


</ion-content>