<ion-header>
  <ion-toolbar class="toolbar" color="primary">


      <ion-button (click)="back()" slot="start">
          <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>


      <ion-title>{{'title.detail'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="container">
      <div class="pic">

          <ion-slides pager>
          </ion-slides>
          <ion-slides pager>
              <ion-slide style="height: 300px;" *ngIf="images.length<1" (click)="img()">
                  <ion-icon style="font-size: 50px;" name="add-outline" color="primary"></ion-icon>
              </ion-slide>
              <ion-slide *ngIf="images.length==1" >
                  <ion-button class="delete" fill="clear" (click)="delete()">
                      <ion-icon slot="icon-only" name="close-circle"></ion-icon>
                  </ion-button>

                  <ion-img [src]="images[0].path"></ion-img>
              </ion-slide>
          </ion-slides>

      </div>

   
  </div>

  <ion-button color="primary" expand="block" (click)="send()"   >
    {{'addcars.Send'|translate}} <ion-icon name="share-outline"></ion-icon>
  </ion-button>

</ion-content>